<div class="sidenav">
  <li class="dropdown" appDropdown>
    <a routerLink="/home" class="dropdown-toggle" role="button"
      >Category<span class="caret"></span
    ></a>
    <ul class="dropdown-menu">
      <li><a routerLink="/login">electronics</a></li>
      <li><a href="#">Men's wear</a></li>
    </ul>
  </li>
  <li class="dropdown" appDropdown>
    <a routerLink="/home" class="dropdown-toggle" role="button"
      >Brand<span class="caret"></span
    ></a>
    <ul class="dropdown-menu">
      <li><a routerLink="/login">Log in</a></li>
      <li><a href="#">other</a></li>
    </ul>
  </li>
  <li class="dropdown" appDropdown>
    <a routerLink="/home" class="dropdown-toggle" role="button"
      >Product<span class="caret"></span
    ></a>
    <ul class="dropdown-menu">
      <li><a routerLink="/login">Log in</a></li>
      <li><a href="#">other</a></li>
    </ul>
  </li>
</div>
